.firstview {
    background-image: url(../img/firstview.jfif);
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(77, 79, 42, 0.3);
    background-blend-mode: multiply;
    position: relative;
    height: 760px;
    color: #fff;
}

.firstview_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}